.form-group input {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 8px 10px 10px 15px;
}

.form-group textarea {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 8px 40px 0 8px;
}