name: Python CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Display current working directory
      run: pwd

    - name: List directory contents
      run: ls -al

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirement.txt

    - name: Run tests
      run: |
        # Add your test command here, for example:
        # pytest

    - name: Build and deploy (if applicable)
      run: |
        # Add your deployment commands here, if applicable
